In [1]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [10]:
for name in names:
    print(name + " did awesome stuff")
print("---------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
---------------

In [9]:
for name in names:
    print(name + " did awesome stuff")
    print("---------------")

Lovelace did awesome stuff
---------------
Darwin did awesome stuff
---------------
Curie did awesome stuff
---------------
Hawking did awesome stuff
---------------

In [11]:
for name in names:
    print(name + " did awesome stuff")
print("---------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
---------------

## Bedingte Anweisungen (Conditionals)

In [12]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [13]:
20 > 15

True

In [15]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [16]:
temp = 15
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [17]:
authors_and_birth_years = {"Lovelace" : 1882,
                          "Darwin" : 1809,
                          "Noether" : 1882}

In [19]:
for author in authors_and_birth_years.keys():
    print(author)

Lovelace
Darwin
Noether

In [21]:
for author, birth_year in authors_and_birth_years.items():
    print(author)

Lovelace
Darwin
Noether

In [24]:
for author, birth_year in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1882